* {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
}

header {
    display: flex;
}

nav {
    display: flex;
}
nav ul {
    display: flex;
    list-style: none;
}
nav a {
    text-decoration: none;
    padding: 0px 10px;
}

main {
    display: flex;
}


footer {
    display: flex;
}
footer ul {
    list-style: none;

}

/***************************/

h1 {
    /*font-family: 'Karla', sans-serif;*/
    font-family: 'Markazi Text', serif;
    font-weight: 400;
    font-size: 4em;
}

h2 {
    font-family: 'Markazi Text', serif;
    font-weight: 400;
    font-size: 3em;
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

span {
    border-radius: 16px;
}